<h1 class="ql-align-center"><strong style="color:orange">All Information</strong></h1>


<p class="ql-font-serif">
    <div style="text-align:left">
        <h2 class="ql-font-serif"> Bank Information</h2><br>      
        <div>
            <h3 class="ql-indent-1"><strong>Bank Name : </strong> </h3>
           
            <h3 class="ql-indent-1"><strong>Branch    : </strong> </h3>
       
            <h3 class="ql-indent-1"><strong>Nominee   : </strong></h3>
       
        </div>
    </div>

    <div style="text-align:left">
        <h2>FD's</h2><br>
        <div>
            <h3 class="ql-indent-1"><strong>National Service Certificates : </strong> </h3><br>
        
        </div>
    </div>

    <div style="text-align:left">
        <h2>Valuables</h2><br><br>
        <div>
            <h3 class="ql-indent-1"><strong>House : </strong> </h3>            
            <h3 class="ql-indent-1"><strong>Land : </strong></h3>
           
        </div>
    </div>

    <div style="text-align:left">
        <h2>Insurance</h2><br><br>
        <div>
            <h3><strong>Health Insurance</strong></h3><p class="ql-indent-1"><br></p>
            <h3 class="ql-indent-1"><strong>Provider : </strong></h3>
        
            <h3 class="ql-indent-1"><strong>Policy Number : </strong> </h3>
          
            <h3 class="ql-indent-1"><strong>Nominee : </strong> </h3>

            <h3 class="ql-indent-1"><strong>Notes: </strong> </h3>
           
        </div>

        <div>
            <h3><strong>Term Insurance</strong></h3><p class="ql-indent-1"><br></p>
            <h3 class="ql-indent-1"><strong>Provider : </strong> </h3>
       
            <h3 class="ql-indent-1"><strong>Policy Number : </strong> </h3>
         
            <h3 class="ql-indent-1"><strong>Nominee : </strong></h3>
         
            <h3 class="ql-indent-1"><strong>Notes: </strong> </h3>
          
        </div>

        <div>
            <h3><strong>Life Insurance</strong></h3><p class="ql-indent-1"><br></p>
            <h3 class="ql-indent-1"><strong>Provider : </strong> </h3>
   
            <h3 class="ql-indent-1"><strong>Policy Number : </strong> </h3>
      
            <h3 class="ql-indent-1"><strong>Nominee : </strong> </h3>
            
            <h3 class="ql-indent-1"><strong>Notes: </strong> </h3>
        
        </div>

        <div>
            <h3><strong>Home Insurance</strong></h3><p class="ql-indent-1"><br></p>
            <h3 class="ql-indent-1"><strong>Provider : </strong></h3>
     
            <h3 class="ql-indent-1"><strong>Policy Number : </strong> </h3>
      
            <h3 class="ql-indent-1"><strong>Nominee : </strong> </h3>
  
            <h3 class="ql-indent-1"><strong>Notes: </strong> </h3>
      
        </div>

        <div>
            <h3><strong>Vehicle Insurance</strong></h3><p class="ql-indent-1"><br></p>
            <h3 class="ql-indent-1"><strong>Provider : </strong>s</h3>
         
            <h3 class="ql-indent-1"><strong>Policy Number : </strong></h3>
          
            <h3 class="ql-indent-1"><strong>Nominee : </strong> </h3>
   
            <h3 class="ql-indent-1"><strong>Notes: </strong> </h3>
       
        </div>

    </div>
<p class="ql-indent-1"><br></p>
    <div style="text-align:left">
        <h2>Mutual Funds</h2><br><br>
        <div>
            <h3 class="ql-indent-1"><strong>Details : </strong> </h3>
        

        </div>
    </div>
<p class="ql-indent-1"><br></p>
    <div style="text-align:left">
        <h2>Demat\Borkerage Account</h2><br><br>
        <div>
            <h3 class="ql-indent-1"><strong>Details : </strong> </h3>
       

        </div>
    </div>
<p class="ql-indent-1"><br></p>
    <div style="text-align:left">
        <h2>Company\Business Partnership Stocks</h2><br><br>
        <div>
            <h3 class="ql-indent-1"><strong>Details : </strong></h3>
  

        </div>
    </div>
<p class="ql-indent-1"><br></p>
    <div style="text-align:left">
        <h2>Money to Recieve from Friends\Family</h2><br><br>
        <div>
            <h3 class="ql-indent-1"><strong>Details : </strong> </h3>
  

        </div>
    </div>
<p class="ql-indent-1"><br></p>
    <div style="text-align:left">
        <h2>NGO</h2><br><br>
        <div>
            <h3 class="ql-indent-1"><strong>Details : </strong></h3>
  

        </div>
    </div>
<p class="ql-indent-1"><br></p>
    <div style="text-align:left">
        <h2>Income Tax</h2><br><br>
        <div>
            <h3 class="ql-indent-1"><strong>Details : </strong> </h3>
         

        </div>
    </div>
<p class="ql-indent-1"><br></p>
    <div style="text-align:left">
        <h2>Liabilities</h2><br><br>
        <div>
            <h3 class="ql-indent-1"><strong>House EMI : </strong> </h3>
           
            <h3 class="ql-indent-1"><strong>Vechicle EMI : </strong> </h3>

            <h3 class="ql-indent-1"><strong>Loans: </strong> </h3>
        
            <h3 class="ql-indent-1"><strong>Credit Cards : </strong> </h3>
  

        </div>
    </div>

</p>