<h2 class="ql-align-center"><strong style="color:Blue">Bank Information</strong></h2>
<p><h3><strong>Bank Name : </strong> Your Bank Name</h3><h3><br></h3>
<h3><strong>Account Holder Name  : </strong> Your Account holder Name</h3><br>
<h3><strong>IFSC Code : </strong> Bank IFSC Code</h3><br>
<h3><strong>Branch  : </strong> Your Mobile Phone</h3><br>
<h3><strong>Address Line1  : </strong> Address Line1 </h3><br>
<h3><strong>Address Line2  : </strong> Address Line2 </h3><br>
<h3><strong>City  : </strong>City </h3><br>
<h3><strong>State  : </strong>State </h3><br>
<h3><strong>ZipCode  : </strong>ZipCode </h3><br>
<h3><strong>Country  : </strong>Country </h3><br>
</p>