<h2 class="ql-align-center"><strong style="color:red">Personal Information</strong></h2>
<p><h3><strong>FirstName : </strong> Your First Name</h3><h3><br></h3>
<h3><strong>LastName  : </strong> Your Last Name</h3><br>
<h3><strong>Email ID  : </strong> Your Email ID</h3><br>
<h3><strong>Mobile Phone  : </strong> Your Mobile Phone</h3><br>
<h3><strong>Address Line1  : </strong> Address Line1 </h3><br>
<h3><strong>Address Line2  : </strong> Address Line2 </h3><br>
<h3><strong>City  : </strong>City </h3><br>
<h3><strong>State  : </strong>State </h3><br>
<h3><strong>ZipCode  : </strong>ZipCode </h3><br>
<h3><strong>Country  : </strong>Country </h3><br>
</p>