<div class="container" ng-init="vm.find()">
    <div class="center-block hello-post">
        <div class="row">
            <div class="col-md-7 col-md-offset-3">
                <h1>Edit Hello</h1>
            </div>
        </div>
        <div class="row">
            <form name="helloForm" class="hello-edit form-horizontal" role="form" data-ng-submit="vm.update(helloForm.$valid)" novalidate>
                <div class="form-group" ng-class="{'has-warning': helloForm.title.$dirty && helloForm.title.$invalid, 'has-success': helloForm.title.$dirty && helloForm.title.$valid}">
                    <label class="col-md-1 control-label">Title</label>
                    <div class="col-md-9">
                        <input name="title" type="text" class="form-control" data-ng-model="vm.hello.title" id="title" placeholder="Title" ng-minlength="2" required>
                        <p ng-show="helloForm.title.$error.required && helloForm.title.$dirty" class="help-block">Title is required</p>
                        <p ng-show="helloForm.title.$error.minlength" class="help-block">Title must be at least 2 characters long</p>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-warning': helloForm.content.$dirty && helloForm.content.$invalid, 'has-success': helloForm.content.$dirty && helloForm.content.$valid}">
                    <label for="content" class="col-md-1 control-label">Content</label>
                    <div class="col-md-9">
                        <textarea name="content" data-ng-model="vm.hello.content" id="content" cols="30" rows="10" placeholder="Content" class="form-control" ng-minlength="2" required></textarea>
                        <p ng-show="helloForm.content.$error.required && helloForm.content.$dirty" class="help-block">Content is required</p>
                        <p ng-show="helloForm.content.$error.minlength" class="help-block">Content must be at least 2 characters long</p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-9">
                        <button type="submit" class="btn btn-info" ng-disabled="helloForm.$invalid">Submit</button>
                        <a href="/hello/list" class="btn btn-default">Cancel</a>
                    </div>
                </div>
            </form>
        </div><!-- /.row -->
    </div>
</div>
